# California Home Price

## Clean Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('CAMedianPricesHomePrice_Clean.csv')

In [3]:
df.head()

,Date,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Ventura,Yolo,Yuba,Unnamed: 53,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,Jan-16,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$638,590","$345,000","$210,000",NaN,"$434,000","$690,000","$291,920",NaN,NaN,NaN
1,Feb-16,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$610,820","$379,500","$225,000",NaN,"$429,980","$698,950","$290,270",NaN,NaN,NaN
2,Mar-16,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$620,020","$362,500","$235,450",NaN,"$448,420","$761,090","$309,890",NaN,NaN,NaN
3,Apr-16,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$630,100","$419,000","$240,000",NaN,"$460,940","$831,180","$310,840",NaN,NaN,NaN
4,May-16,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$617,740","$398,000","$225,000",NaN,"$469,090","$848,580","$315,980",NaN,NaN,NaN

In [4]:
df.tail()

,Date,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Ventura,Yolo,Yuba,Unnamed: 53,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire,Unnamed: 57,Unnamed: 58,Unnamed: 59
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 60 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           61 non-null     object
 1   CA                             61 non-null     object
 2   Alameda                        61 non-null     object
 3   Amador                         61 non-null     object
 4   Butte                          61 non-null     object
 5   Calaveras                      61 non-null     object
 6   Contra-Costa                   61 non-null     object
 7   Del Norte                      61 non-null     object
 8   El Dorado                      61 non-null     object
 9   Fresno                         61 non-null     object
 10  Glenn                          61 non-null     object
 11  Humboldt                       61 non-null     object
 12  Kern                           61 non-null     object
 13  Kings                          61 non-null     object
 14  Lake                           61 non-null     object
 15  Lassen                         61 non-null     object
 16  Los Angeles                    61 non-null     object
 17  Madera                         61 non-null     object
 18  Marin                          61 non-null     object
 19  Mariposa                       61 non-null     object
 20  Mendocino                      61 non-null     object
 21  Merced                         61 non-null     object
 22  Mono                           61 non-null     object
 23  Monterey                       61 non-null     object
 24  Napa                           61 non-null     object
 25  Nevada                         61 non-null     object
 26  Orange                         61 non-null     object
 27  Placer                         61 non-null     object
 28  Plumas                         61 non-null     object
 29  Riverside                      61 non-null     object
 30  Sacramento                     61 non-null     object
 31  San Benito                     61 non-null     object
 32  San Bernardino                 61 non-null     object
 33  San Diego                      61 non-null     object
 34  San Francisco                  61 non-null     object
 35  San Joaquin                    61 non-null     object
 36  San Luis Obispo                61 non-null     object
 37  San Mateo                      61 non-null     object
 38  Santa Barbara                  61 non-null     object
 39  Santa Clara                    61 non-null     object
 40  Santa Cruz                     61 non-null     object
 41  Shasta                         61 non-null     object
 42  Siskiyou                       61 non-null     object
 43  Solano                         61 non-null     object
 44  Sonoma                         61 non-null     object
 45  Stanislaus                     61 non-null     object
 46  Sutter                         61 non-null     object
 47  Tehama                         61 non-null     object
 48  Tulare                         61 non-null     object
 49  Tuolumne                       61 non-null     object
 50  Ventura                        61 non-null     object
 51  Yolo                           61 non-null     object
 52  Yuba                           61 non-null     object
 53  Unnamed: 53                    0 non-null      float64
 54  Los Angeles Metropolitan Area  61 non-null     object
 55  S.F. Bay Area                  61 non-null     object
 56  Inland Empire                  61 non-null     object
 57  Unnamed: 57                    0 non-null      float64
 58  Unnamed: 58                    0 non-null      float64
 59  Unnamed: 59                    0 non-null      float64
dtypes: float64(4), object(56)
memory usage: 37.2+ KB

In [6]:
df.iloc[60:79]

,Date,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Ventura,Yolo,Yuba,Unnamed: 53,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire,Unnamed: 57,Unnamed: 58,Unnamed: 59
60,Jan-21,"$699,890","$1,060,000","$386,360","$420,000","$398,500","$765,000","$399,000","$604,510","$325,000",...,"$776,000","$490,320","$395,000",NaN,"$630,000","$1,025,000","$457,000",NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# drop rows
df.drop(df.iloc[61:79].index, inplace=True)

In [8]:

# drop columns
df= df.dropna(axis='columns')

In [9]:
df

,Date,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
0,Jan-16,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000",...,"$213,700","$190,000","$195,000","$210,000","$638,590","$345,000","$210,000","$434,000","$690,000","$291,920"
1,Feb-16,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250",...,"$230,000","$170,750","$190,000","$256,500","$610,820","$379,500","$225,000","$429,980","$698,950","$290,270"
2,Mar-16,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000",...,"$232,000","$189,500","$198,000","$244,900","$620,020","$362,500","$235,450","$448,420","$761,090","$309,890"
3,Apr-16,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000",...,"$232,000","$184,000","$207,250","$253,750","$630,100","$419,000","$240,000","$460,940","$831,180","$310,840"
4,May-16,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000",...,"$235,000","$170,000","$205,000","$242,500","$617,740","$398,000","$225,000","$469,090","$848,580","$315,980"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Sep-20,"$712,430","$1,050,000","$359,900","$403,300","$392,000","$783,000","$308,000","$588,000","$325,000",...,"$351,000","$285,000","$275,000","$325,000","$787,500","$530,000","$342,000","$630,000","$1,060,000","$445,000"
57,Oct-20,"$711,300","$1,049,000","$366,500","$401,500","$393,640","$787,250","$325,000","$559,000","$331,500",...,"$346,050","$283,500","$283,000","$349,500","$750,000","$517,250","$350,000","$632,710","$1,100,000","$445,000"
58,Nov-20,"$698,980","$1,049,040","$360,000","$405,000","$407,120","$810,000","$308,750","$585,000","$323,500",...,"$370,000","$371,000","$280,000","$337,500","$760,000","$511,000","$352,500","$630,000","$1,100,000","$450,000"
59,Dec-20,"$717,930","$1,060,000","$355,000","$408,460","$397,500","$763,000","$346,000","$538,350","$325,500",...,"$369,900","$273,250","$295,000","$330,000","$740,000","$515,000","$360,000","$625,250","$1,058,000","$450,000"
60,Jan-21,"$699,890","$1,060,000","$386,360","$420,000","$398,500","$765,000","$399,000","$604,510","$325,000",...,"$350,000","$250,000","$306,920","$350,500","$776,000","$490,320","$395,000","$630,000","$1,025,000","$457,000"

In [10]:
df.describe(include='all')

,Date,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
count,61,61,61,61,61,61,61,61,61,61,...,61,61,61,61,61,61,61,61,61,61
unique,61,60,48,47,57,48,56,57,51,52,...,52,51,51,48,49,57,53,48,54,49
top,May-17,"$555,410","$900,000","$335,000","$315,000","$340,000","$650,000","$214,000","$465,000","$280,000",...,"$270,000","$210,000","$240,000","$300,000","$640,000","$450,000","$298,000","$550,000","$980,000","$380,000"
freq,1,2,4,5,4,5,2,2,3,3,...,2,3,3,4,4,3,3,5,3,3

In [11]:
df = df.set_index('Date')

In [12]:
df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
Date,,,,,,,,,,,,,,,,,,,,,
Jan-16,"$467,160","$700,000","$215,500","$260,000","$258,750","$500,000","$157,000","$405,000","$216,000","$159,975",...,"$213,700","$190,000","$195,000","$210,000","$638,590","$345,000","$210,000","$434,000","$690,000","$291,920"
Feb-16,"$444,780","$715,000","$275,000","$264,960","$262,500","$529,000","$175,000","$422,000","$214,250","$197,500",...,"$230,000","$170,750","$190,000","$256,500","$610,820","$379,500","$225,000","$429,980","$698,950","$290,270"
Mar-16,"$484,120","$758,000","$307,000","$286,810","$270,000","$548,780","$199,000","$435,010","$231,000","$196,000",...,"$232,000","$189,500","$198,000","$244,900","$620,020","$362,500","$235,450","$448,420","$761,090","$309,890"
Apr-16,"$509,240","$800,000","$235,000","$272,750","$276,000","$565,000","$315,000","$432,000","$229,000","$225,000",...,"$232,000","$184,000","$207,250","$253,750","$630,100","$419,000","$240,000","$460,940","$831,180","$310,840"
May-16,"$519,930","$828,000","$268,500","$271,000","$287,500","$595,000","$189,500","$429,500","$232,000","$175,000",...,"$235,000","$170,000","$205,000","$242,500","$617,740","$398,000","$225,000","$469,090","$848,580","$315,980"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sep-20,"$712,430","$1,050,000","$359,900","$403,300","$392,000","$783,000","$308,000","$588,000","$325,000","$347,520",...,"$351,000","$285,000","$275,000","$325,000","$787,500","$530,000","$342,000","$630,000","$1,060,000","$445,000"
Oct-20,"$711,300","$1,049,000","$366,500","$401,500","$393,640","$787,250","$325,000","$559,000","$331,500","$287,500",...,"$346,050","$283,500","$283,000","$349,500","$750,000","$517,250","$350,000","$632,710","$1,100,000","$445,000"
Nov-20,"$698,980","$1,049,040","$360,000","$405,000","$407,120","$810,000","$308,750","$585,000","$323,500","$334,750",...,"$370,000","$371,000","$280,000","$337,500","$760,000","$511,000","$352,500","$630,000","$1,100,000","$450,000"
Dec-20,"$717,930","$1,060,000","$355,000","$408,460","$397,500","$763,000","$346,000","$538,350","$325,500","$297,500",...,"$369,900","$273,250","$295,000","$330,000","$740,000","$515,000","$360,000","$625,250","$1,058,000","$450,000"
Jan-21,"$699,890","$1,060,000","$386,360","$420,000","$398,500","$765,000","$399,000","$604,510","$325,000","$247,500",...,"$350,000","$250,000","$306,920","$350,500","$776,000","$490,320","$395,000","$630,000","$1,025,000","$457,000"

In [13]:
df.describe(include='all')

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
count,61,61,61,61,61,61,61,61,61,61,...,61,61,61,61,61,61,61,61,61,61
unique,60,48,47,57,48,56,57,51,52,49,...,52,51,51,48,49,57,53,48,54,49
top,"$555,410","$900,000","$335,000","$315,000","$340,000","$650,000","$214,000","$465,000","$280,000","$225,000",...,"$270,000","$210,000","$240,000","$300,000","$640,000","$450,000","$298,000","$550,000","$980,000","$380,000"
freq,2,4,5,4,5,2,2,3,3,5,...,2,3,3,4,4,3,3,5,3,3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, Jan-16 to Jan-21
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CA                             61 non-null     object
 1   Alameda                        61 non-null     object
 2   Amador                         61 non-null     object
 3   Butte                          61 non-null     object
 4   Calaveras                      61 non-null     object
 5   Contra-Costa                   61 non-null     object
 6   Del Norte                      61 non-null     object
 7   El Dorado                      61 non-null     object
 8   Fresno                         61 non-null     object
 9   Glenn                          61 non-null     object
 10  Humboldt                       61 non-null     object
 11  Kern                           61 non-null     object
 12  Kings                          61 non-null     object
 13  Lake                           61 non-null     object
 14  Lassen                         61 non-null     object
 15  Los Angeles                    61 non-null     object
 16  Madera                         61 non-null     object
 17  Marin                          61 non-null     object
 18  Mariposa                       61 non-null     object
 19  Mendocino                      61 non-null     object
 20  Merced                         61 non-null     object
 21  Mono                           61 non-null     object
 22  Monterey                       61 non-null     object
 23  Napa                           61 non-null     object
 24  Nevada                         61 non-null     object
 25  Orange                         61 non-null     object
 26  Placer                         61 non-null     object
 27  Plumas                         61 non-null     object
 28  Riverside                      61 non-null     object
 29  Sacramento                     61 non-null     object
 30  San Benito                     61 non-null     object
 31  San Bernardino                 61 non-null     object
 32  San Diego                      61 non-null     object
 33  San Francisco                  61 non-null     object
 34  San Joaquin                    61 non-null     object
 35  San Luis Obispo                61 non-null     object
 36  San Mateo                      61 non-null     object
 37  Santa Barbara                  61 non-null     object
 38  Santa Clara                    61 non-null     object
 39  Santa Cruz                     61 non-null     object
 40  Shasta                         61 non-null     object
 41  Siskiyou                       61 non-null     object
 42  Solano                         61 non-null     object
 43  Sonoma                         61 non-null     object
 44  Stanislaus                     61 non-null     object
 45  Sutter                         61 non-null     object
 46  Tehama                         61 non-null     object
 47  Tulare                         61 non-null     object
 48  Tuolumne                       61 non-null     object
 49  Ventura                        61 non-null     object
 50  Yolo                           61 non-null     object
 51  Yuba                           61 non-null     object
 52  Los Angeles Metropolitan Area  61 non-null     object
 53  S.F. Bay Area                  61 non-null     object
 54  Inland Empire                  61 non-null     object
dtypes: object(55)
memory usage: 26.7+ KB

In [15]:
# remove '$'
df = df.replace({'\$':''}, regex = True)
df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
Date,,,,,,,,,,,,,,,,,,,,,
Jan-16,"467,160","700,000","215,500","260,000","258,750","500,000","157,000","405,000","216,000","159,975",...,"213,700","190,000","195,000","210,000","638,590","345,000","210,000","434,000","690,000","291,920"
Feb-16,"444,780","715,000","275,000","264,960","262,500","529,000","175,000","422,000","214,250","197,500",...,"230,000","170,750","190,000","256,500","610,820","379,500","225,000","429,980","698,950","290,270"
Mar-16,"484,120","758,000","307,000","286,810","270,000","548,780","199,000","435,010","231,000","196,000",...,"232,000","189,500","198,000","244,900","620,020","362,500","235,450","448,420","761,090","309,890"
Apr-16,"509,240","800,000","235,000","272,750","276,000","565,000","315,000","432,000","229,000","225,000",...,"232,000","184,000","207,250","253,750","630,100","419,000","240,000","460,940","831,180","310,840"
May-16,"519,930","828,000","268,500","271,000","287,500","595,000","189,500","429,500","232,000","175,000",...,"235,000","170,000","205,000","242,500","617,740","398,000","225,000","469,090","848,580","315,980"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sep-20,"712,430","1,050,000","359,900","403,300","392,000","783,000","308,000","588,000","325,000","347,520",...,"351,000","285,000","275,000","325,000","787,500","530,000","342,000","630,000","1,060,000","445,000"
Oct-20,"711,300","1,049,000","366,500","401,500","393,640","787,250","325,000","559,000","331,500","287,500",...,"346,050","283,500","283,000","349,500","750,000","517,250","350,000","632,710","1,100,000","445,000"
Nov-20,"698,980","1,049,040","360,000","405,000","407,120","810,000","308,750","585,000","323,500","334,750",...,"370,000","371,000","280,000","337,500","760,000","511,000","352,500","630,000","1,100,000","450,000"
Dec-20,"717,930","1,060,000","355,000","408,460","397,500","763,000","346,000","538,350","325,500","297,500",...,"369,900","273,250","295,000","330,000","740,000","515,000","360,000","625,250","1,058,000","450,000"
Jan-21,"699,890","1,060,000","386,360","420,000","398,500","765,000","399,000","604,510","325,000","247,500",...,"350,000","250,000","306,920","350,500","776,000","490,320","395,000","630,000","1,025,000","457,000"

In [16]:
df = df.replace({',':''}, regex = True)
df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
Date,,,,,,,,,,,,,,,,,,,,,
Jan-16,467160,700000,215500,260000,258750,500000,157000,405000,216000,159975,...,213700,190000,195000,210000,638590,345000,210000,434000,690000,291920
Feb-16,444780,715000,275000,264960,262500,529000,175000,422000,214250,197500,...,230000,170750,190000,256500,610820,379500,225000,429980,698950,290270
Mar-16,484120,758000,307000,286810,270000,548780,199000,435010,231000,196000,...,232000,189500,198000,244900,620020,362500,235450,448420,761090,309890
Apr-16,509240,800000,235000,272750,276000,565000,315000,432000,229000,225000,...,232000,184000,207250,253750,630100,419000,240000,460940,831180,310840
May-16,519930,828000,268500,271000,287500,595000,189500,429500,232000,175000,...,235000,170000,205000,242500,617740,398000,225000,469090,848580,315980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sep-20,712430,1050000,359900,403300,392000,783000,308000,588000,325000,347520,...,351000,285000,275000,325000,787500,530000,342000,630000,1060000,445000
Oct-20,711300,1049000,366500,401500,393640,787250,325000,559000,331500,287500,...,346050,283500,283000,349500,750000,517250,350000,632710,1100000,445000
Nov-20,698980,1049040,360000,405000,407120,810000,308750,585000,323500,334750,...,370000,371000,280000,337500,760000,511000,352500,630000,1100000,450000
Dec-20,717930,1060000,355000,408460,397500,763000,346000,538350,325500,297500,...,369900,273250,295000,330000,740000,515000,360000,625250,1058000,450000
Jan-21,699890,1060000,386360,420000,398500,765000,399000,604510,325000,247500,...,350000,250000,306920,350500,776000,490320,395000,630000,1025000,457000

In [17]:
df = df.astype(float)
df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
Date,,,,,,,,,,,,,,,,,,,,,
Jan-16,467160.0,700000.0,215500.0,260000.0,258750.0,500000.0,157000.0,405000.0,216000.0,159975.0,...,213700.0,190000.0,195000.0,210000.0,638590.0,345000.0,210000.0,434000.0,690000.0,291920.0
Feb-16,444780.0,715000.0,275000.0,264960.0,262500.0,529000.0,175000.0,422000.0,214250.0,197500.0,...,230000.0,170750.0,190000.0,256500.0,610820.0,379500.0,225000.0,429980.0,698950.0,290270.0
Mar-16,484120.0,758000.0,307000.0,286810.0,270000.0,548780.0,199000.0,435010.0,231000.0,196000.0,...,232000.0,189500.0,198000.0,244900.0,620020.0,362500.0,235450.0,448420.0,761090.0,309890.0
Apr-16,509240.0,800000.0,235000.0,272750.0,276000.0,565000.0,315000.0,432000.0,229000.0,225000.0,...,232000.0,184000.0,207250.0,253750.0,630100.0,419000.0,240000.0,460940.0,831180.0,310840.0
May-16,519930.0,828000.0,268500.0,271000.0,287500.0,595000.0,189500.0,429500.0,232000.0,175000.0,...,235000.0,170000.0,205000.0,242500.0,617740.0,398000.0,225000.0,469090.0,848580.0,315980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sep-20,712430.0,1050000.0,359900.0,403300.0,392000.0,783000.0,308000.0,588000.0,325000.0,347520.0,...,351000.0,285000.0,275000.0,325000.0,787500.0,530000.0,342000.0,630000.0,1060000.0,445000.0
Oct-20,711300.0,1049000.0,366500.0,401500.0,393640.0,787250.0,325000.0,559000.0,331500.0,287500.0,...,346050.0,283500.0,283000.0,349500.0,750000.0,517250.0,350000.0,632710.0,1100000.0,445000.0
Nov-20,698980.0,1049040.0,360000.0,405000.0,407120.0,810000.0,308750.0,585000.0,323500.0,334750.0,...,370000.0,371000.0,280000.0,337500.0,760000.0,511000.0,352500.0,630000.0,1100000.0,450000.0
Dec-20,717930.0,1060000.0,355000.0,408460.0,397500.0,763000.0,346000.0,538350.0,325500.0,297500.0,...,369900.0,273250.0,295000.0,330000.0,740000.0,515000.0,360000.0,625250.0,1058000.0,450000.0
Jan-21,699890.0,1060000.0,386360.0,420000.0,398500.0,765000.0,399000.0,604510.0,325000.0,247500.0,...,350000.0,250000.0,306920.0,350500.0,776000.0,490320.0,395000.0,630000.0,1025000.0,457000.0

In [18]:
df = round(df, 2)
df

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
Date,,,,,,,,,,,,,,,,,,,,,
Jan-16,467160.0,700000.0,215500.0,260000.0,258750.0,500000.0,157000.0,405000.0,216000.0,159975.0,...,213700.0,190000.0,195000.0,210000.0,638590.0,345000.0,210000.0,434000.0,690000.0,291920.0
Feb-16,444780.0,715000.0,275000.0,264960.0,262500.0,529000.0,175000.0,422000.0,214250.0,197500.0,...,230000.0,170750.0,190000.0,256500.0,610820.0,379500.0,225000.0,429980.0,698950.0,290270.0
Mar-16,484120.0,758000.0,307000.0,286810.0,270000.0,548780.0,199000.0,435010.0,231000.0,196000.0,...,232000.0,189500.0,198000.0,244900.0,620020.0,362500.0,235450.0,448420.0,761090.0,309890.0
Apr-16,509240.0,800000.0,235000.0,272750.0,276000.0,565000.0,315000.0,432000.0,229000.0,225000.0,...,232000.0,184000.0,207250.0,253750.0,630100.0,419000.0,240000.0,460940.0,831180.0,310840.0
May-16,519930.0,828000.0,268500.0,271000.0,287500.0,595000.0,189500.0,429500.0,232000.0,175000.0,...,235000.0,170000.0,205000.0,242500.0,617740.0,398000.0,225000.0,469090.0,848580.0,315980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sep-20,712430.0,1050000.0,359900.0,403300.0,392000.0,783000.0,308000.0,588000.0,325000.0,347520.0,...,351000.0,285000.0,275000.0,325000.0,787500.0,530000.0,342000.0,630000.0,1060000.0,445000.0
Oct-20,711300.0,1049000.0,366500.0,401500.0,393640.0,787250.0,325000.0,559000.0,331500.0,287500.0,...,346050.0,283500.0,283000.0,349500.0,750000.0,517250.0,350000.0,632710.0,1100000.0,445000.0
Nov-20,698980.0,1049040.0,360000.0,405000.0,407120.0,810000.0,308750.0,585000.0,323500.0,334750.0,...,370000.0,371000.0,280000.0,337500.0,760000.0,511000.0,352500.0,630000.0,1100000.0,450000.0
Dec-20,717930.0,1060000.0,355000.0,408460.0,397500.0,763000.0,346000.0,538350.0,325500.0,297500.0,...,369900.0,273250.0,295000.0,330000.0,740000.0,515000.0,360000.0,625250.0,1058000.0,450000.0
Jan-21,699890.0,1060000.0,386360.0,420000.0,398500.0,765000.0,399000.0,604510.0,325000.0,247500.0,...,350000.0,250000.0,306920.0,350500.0,776000.0,490320.0,395000.0,630000.0,1025000.0,457000.0

In [20]:
df.describe()

,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,El Dorado,Fresno,Glenn,...,Sutter,Tehama,Tulare,Tuolumne,Ventura,Yolo,Yuba,Los Angeles Metropolitan Area,S.F. Bay Area,Inland Empire
count,61.000000,6.100000e+01,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,...,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,6.100000e+01,61.000000
mean,572578.672131,8.952584e+05,318206.229508,330022.295082,325375.901639,646627.114754,244569.836066,483285.721311,269933.770492,241477.131148,...,292976.721311,231080.327869,234807.377049,289910.491803,654630.163934,438260.163934,284031.639344,517955.901639,9.069311e+05,362249.016393
std,62701.221569,9.279843e+04,33129.402508,44008.955429,34642.713586,72803.599498,51487.506106,46937.423460,29148.133740,40103.402437,...,36320.850748,38983.450846,25229.547750,30143.057599,45171.328129,42617.973692,37331.036024,50311.846828,9.955817e+04,40381.458233
min,444780.000000,7.000000e+05,215500.000000,260000.000000,258750.000000,500000.000000,130000.000000,405000.000000,214250.000000,159975.000000,...,213700.000000,163000.000000,190000.000000,210000.000000,582500.000000,345000.000000,210000.000000,429980.000000,6.900000e+05,290270.000000
25%,527490.000000,8.320000e+05,309000.000000,294250.000000,300050.000000,600000.000000,214000.000000,449950.000000,245450.000000,215000.000000,...,270000.000000,203000.000000,215730.000000,269900.000000,627000.000000,407000.000000,256000.000000,480000.000000,8.360000e+05,335000.000000
50%,565330.000000,9.000000e+05,325000.000000,318000.000000,325500.000000,649480.000000,239000.000000,480000.000000,266500.000000,230000.000000,...,290000.000000,225000.000000,232500.000000,297000.000000,648500.000000,441000.000000,277900.000000,515000.000000,9.000000e+05,359000.000000
75%,605680.000000,9.600000e+05,336500.000000,360000.000000,343500.000000,687500.000000,265000.000000,510000.000000,285000.000000,263500.000000,...,318500.000000,259250.000000,250000.000000,309000.000000,665000.000000,463500.000000,305000.000000,545000.000000,9.800000e+05,384000.000000
max,717930.000000,1.060000e+06,386360.000000,420000.000000,407120.000000,810000.000000,399000.000000,604510.000000,331500.000000,347520.000000,...,370000.000000,371000.000000,306920.000000,350500.000000,787500.000000,530000.000000,395000.000000,632710.000000,1.100000e+06,457000.000000

In [23]:
df.to_csv('California_City_Homes_Prices_clean.csv')