# Data Preprocessing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('Crime.xlsx')

In [3]:
df

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Crime in the United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Volume and Rate per 100,000 Inhabitants, 19...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Population1,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition3),Rape\n(revised \ndefinition) \nrate3,Rape\n(legacy \ndefinition4),Rape\n(legacy \ndefinition) \nrate4,...,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
5,1999,272690813,1426044,523,15522,5.7,NaN,NaN,89411,32.8,...,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
6,2000,281421906,1425486,506.5,15586,5.5,NaN,NaN,90178,32,...,911706,324,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
7,20015,285317559,1439480,504.5,16037,5.6,NaN,NaN,90863,31.8,...,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
8,2002,287973924,1423677,494.4,16229,5.6,NaN,NaN,95235,33.1,...,891407,309.5,10455277,3630.6,2151252,747,7057379,2450.7,1246646,432.9
9,2003,290788976,1383676,475.8,16528,5.7,NaN,NaN,93883,32.3,...,859030,295.4,10442862,3591.2,2154834,741,7026802,2416.5,1261226,433.7
10,2004,293656842,1360088,463.2,16148,5.5,NaN,NaN,95089,32.4,...,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
11,2005,296507061,1390745,469,16740,5.6,NaN,NaN,94347,31.8,...,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
12,2006,299398484,1435123,479.3,17309,5.8,,NaN,94472,31.6,...,874096,292,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
13,2007,301621157,1422970,471.8,17128,5.7,NaN,NaN,92160,30.6,...,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
14,2008,304059724,1394461,458.6,16465,5.4,NaN,NaN,90750,29.8,...,843683,277.5,9774152,3214.6,2228887,733,6586206,2166.1,959059,315.4
15,2009,307006550,1325896,431.9,15399,5,NaN,NaN,89241,29.1,...,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
16,2010,309330219,1251248,404.5,14722,4.8,NaN,NaN,85593,27.7,...,781844,252.8,9112625,2945.9,2168459,701,6204601,2005.8,739565,239.1
17,2011,311587816,1206005,387.1,14661,4.7,NaN,NaN,84175,27,...,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230
18,2012,313873685,1217057,387.8,14856,4.7,NaN,NaN,85141,27.1,...,762009,242.8,9001992,2868,2109932,672.2,6168874,1965.4,723186,230.4
19,2013,316497531,1168298,369.1,14319,4.5,113695,35.9,82109,25.9,...,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
20,2014,318907401,1153022,361.6,14164,4.4,118027,37,84864,26.6,...,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
21,20156,320896618,1199310,373.7,15883,4.9,126134,39.3,91261,28.4,...,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
22,2016,323127513,1248185,386.3,17250,5.3,130603,40.4,95730,29.6,...,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745,765484,236.9
23,1 Populations are U.S. Census Bureau provision...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2 The violent crime figures include the offens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
27,5 The murder and nonnegligent homicides that o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
28,6 The crime figures have been adjusted.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
29,NOTE: Although arson data are included in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.drop(df.index[23:45])

In [5]:
df

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Crime in the United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Volume and Rate per 100,000 Inhabitants, 19...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Year,Population1,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition3),Rape\n(revised \ndefinition) \nrate3,Rape\n(legacy \ndefinition4),Rape\n(legacy \ndefinition) \nrate4,...,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
5,1999,272690813,1426044,523,15522,5.7,NaN,NaN,89411,32.8,...,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
6,2000,281421906,1425486,506.5,15586,5.5,NaN,NaN,90178,32,...,911706,324,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
7,20015,285317559,1439480,504.5,16037,5.6,NaN,NaN,90863,31.8,...,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
8,2002,287973924,1423677,494.4,16229,5.6,NaN,NaN,95235,33.1,...,891407,309.5,10455277,3630.6,2151252,747,7057379,2450.7,1246646,432.9
9,2003,290788976,1383676,475.8,16528,5.7,NaN,NaN,93883,32.3,...,859030,295.4,10442862,3591.2,2154834,741,7026802,2416.5,1261226,433.7
10,2004,293656842,1360088,463.2,16148,5.5,NaN,NaN,95089,32.4,...,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
11,2005,296507061,1390745,469,16740,5.6,NaN,NaN,94347,31.8,...,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
12,2006,299398484,1435123,479.3,17309,5.8,,NaN,94472,31.6,...,874096,292,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
13,2007,301621157,1422970,471.8,17128,5.7,NaN,NaN,92160,30.6,...,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
14,2008,304059724,1394461,458.6,16465,5.4,NaN,NaN,90750,29.8,...,843683,277.5,9774152,3214.6,2228887,733,6586206,2166.1,959059,315.4
15,2009,307006550,1325896,431.9,15399,5,NaN,NaN,89241,29.1,...,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
16,2010,309330219,1251248,404.5,14722,4.8,NaN,NaN,85593,27.7,...,781844,252.8,9112625,2945.9,2168459,701,6204601,2005.8,739565,239.1
17,2011,311587816,1206005,387.1,14661,4.7,NaN,NaN,84175,27,...,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230
18,2012,313873685,1217057,387.8,14856,4.7,NaN,NaN,85141,27.1,...,762009,242.8,9001992,2868,2109932,672.2,6168874,1965.4,723186,230.4
19,2013,316497531,1168298,369.1,14319,4.5,113695,35.9,82109,25.9,...,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
20,2014,318907401,1153022,361.6,14164,4.4,118027,37,84864,26.6,...,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
21,20156,320896618,1199310,373.7,15883,4.9,126134,39.3,91261,28.4,...,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
22,2016,323127513,1248185,386.3,17250,5.3,130603,40.4,95730,29.6,...,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745,765484,236.9

In [6]:
df = df.drop(df.index[0:2])

In [7]:
df

,Table 1,,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
2,Year,Population1,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Rape\n(revised \ndefinition3),Rape\n(revised \ndefinition) \nrate3,Rape\n(legacy \ndefinition4),Rape\n(legacy \ndefinition) \nrate4,...,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
5,1999,272690813,1426044,523,15522,5.7,NaN,NaN,89411,32.8,...,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
6,2000,281421906,1425486,506.5,15586,5.5,NaN,NaN,90178,32,...,911706,324,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
7,20015,285317559,1439480,504.5,16037,5.6,NaN,NaN,90863,31.8,...,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
8,2002,287973924,1423677,494.4,16229,5.6,NaN,NaN,95235,33.1,...,891407,309.5,10455277,3630.6,2151252,747,7057379,2450.7,1246646,432.9
9,2003,290788976,1383676,475.8,16528,5.7,NaN,NaN,93883,32.3,...,859030,295.4,10442862,3591.2,2154834,741,7026802,2416.5,1261226,433.7
10,2004,293656842,1360088,463.2,16148,5.5,NaN,NaN,95089,32.4,...,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
11,2005,296507061,1390745,469,16740,5.6,NaN,NaN,94347,31.8,...,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
12,2006,299398484,1435123,479.3,17309,5.8,,NaN,94472,31.6,...,874096,292,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
13,2007,301621157,1422970,471.8,17128,5.7,NaN,NaN,92160,30.6,...,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
14,2008,304059724,1394461,458.6,16465,5.4,NaN,NaN,90750,29.8,...,843683,277.5,9774152,3214.6,2228887,733,6586206,2166.1,959059,315.4
15,2009,307006550,1325896,431.9,15399,5,NaN,NaN,89241,29.1,...,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
16,2010,309330219,1251248,404.5,14722,4.8,NaN,NaN,85593,27.7,...,781844,252.8,9112625,2945.9,2168459,701,6204601,2005.8,739565,239.1
17,2011,311587816,1206005,387.1,14661,4.7,NaN,NaN,84175,27,...,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230
18,2012,313873685,1217057,387.8,14856,4.7,NaN,NaN,85141,27.1,...,762009,242.8,9001992,2868,2109932,672.2,6168874,1965.4,723186,230.4
19,2013,316497531,1168298,369.1,14319,4.5,113695,35.9,82109,25.9,...,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
20,2014,318907401,1153022,361.6,14164,4.4,118027,37,84864,26.6,...,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
21,20156,320896618,1199310,373.7,15883,4.9,126134,39.3,91261,28.4,...,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
22,2016,323127513,1248185,386.3,17250,5.3,130603,40.4,95730,29.6,...,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745,765484,236.9

In [8]:
df.columns = ['Year', 'Population', 'Violent Crime', 'Violent Crime Rate', 'Murder and nonnegligent', 'Murder and nonnegligent Rate', 'Rape', 'Rape Rate', 'Rape Legacy', 'Rape Legacy Rate', 'Robbery', 'Robbery Rate', 'Aggravated assault', 'Aggravated assault Rate', 'Property crime', 'Property crime Rate', 'Burglary', 'Burglary Rate', 'Larceny-theft', 'Larceny-theft Rate', 'Motor vehicle theft', 'Motor vehicle theft Rate']

In [9]:
df = df.drop(df.index[0:1])

In [10]:
df

,Year,Population,Violent Crime,Violent Crime Rate,Murder and nonnegligent,Murder and nonnegligent Rate,Rape,Rape Rate,Rape Legacy,Rape Legacy Rate,...,Aggravated assault,Aggravated assault Rate,Property crime,Property crime Rate,Burglary,Burglary Rate,Larceny-theft,Larceny-theft Rate,Motor vehicle theft,Motor vehicle theft Rate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
5,1999,272690813,1426044,523,15522,5.7,NaN,NaN,89411,32.8,...,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
6,2000,281421906,1425486,506.5,15586,5.5,NaN,NaN,90178,32,...,911706,324,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
7,20015,285317559,1439480,504.5,16037,5.6,NaN,NaN,90863,31.8,...,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
8,2002,287973924,1423677,494.4,16229,5.6,NaN,NaN,95235,33.1,...,891407,309.5,10455277,3630.6,2151252,747,7057379,2450.7,1246646,432.9
9,2003,290788976,1383676,475.8,16528,5.7,NaN,NaN,93883,32.3,...,859030,295.4,10442862,3591.2,2154834,741,7026802,2416.5,1261226,433.7
10,2004,293656842,1360088,463.2,16148,5.5,NaN,NaN,95089,32.4,...,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
11,2005,296507061,1390745,469,16740,5.6,NaN,NaN,94347,31.8,...,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
12,2006,299398484,1435123,479.3,17309,5.8,,NaN,94472,31.6,...,874096,292,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
13,2007,301621157,1422970,471.8,17128,5.7,NaN,NaN,92160,30.6,...,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
14,2008,304059724,1394461,458.6,16465,5.4,NaN,NaN,90750,29.8,...,843683,277.5,9774152,3214.6,2228887,733,6586206,2166.1,959059,315.4
15,2009,307006550,1325896,431.9,15399,5,NaN,NaN,89241,29.1,...,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
16,2010,309330219,1251248,404.5,14722,4.8,NaN,NaN,85593,27.7,...,781844,252.8,9112625,2945.9,2168459,701,6204601,2005.8,739565,239.1
17,2011,311587816,1206005,387.1,14661,4.7,NaN,NaN,84175,27,...,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230
18,2012,313873685,1217057,387.8,14856,4.7,NaN,NaN,85141,27.1,...,762009,242.8,9001992,2868,2109932,672.2,6168874,1965.4,723186,230.4
19,2013,316497531,1168298,369.1,14319,4.5,113695,35.9,82109,25.9,...,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
20,2014,318907401,1153022,361.6,14164,4.4,118027,37,84864,26.6,...,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
21,20156,320896618,1199310,373.7,15883,4.9,126134,39.3,91261,28.4,...,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
22,2016,323127513,1248185,386.3,17250,5.3,130603,40.4,95730,29.6,...,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745,765484,236.9

In [11]:
# Fix the Year
df.at[7, 'Year'] = 2001 
df.at[21, 'Year'] = 2015

In [12]:
df

,Year,Population,Violent Crime,Violent Crime Rate,Murder and nonnegligent,Murder and nonnegligent Rate,Rape,Rape Rate,Rape Legacy,Rape Legacy Rate,...,Aggravated assault,Aggravated assault Rate,Property crime,Property crime Rate,Burglary,Burglary Rate,Larceny-theft,Larceny-theft Rate,Motor vehicle theft,Motor vehicle theft Rate
3,1997,267783607,1636096,611,18208,6.8,NaN,NaN,96153,35.9,...,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
4,1998,270248003,1533887,567.6,16974,6.3,NaN,NaN,93144,34.5,...,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
5,1999,272690813,1426044,523,15522,5.7,NaN,NaN,89411,32.8,...,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
6,2000,281421906,1425486,506.5,15586,5.5,NaN,NaN,90178,32,...,911706,324,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
7,2001,285317559,1439480,504.5,16037,5.6,NaN,NaN,90863,31.8,...,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
8,2002,287973924,1423677,494.4,16229,5.6,NaN,NaN,95235,33.1,...,891407,309.5,10455277,3630.6,2151252,747,7057379,2450.7,1246646,432.9
9,2003,290788976,1383676,475.8,16528,5.7,NaN,NaN,93883,32.3,...,859030,295.4,10442862,3591.2,2154834,741,7026802,2416.5,1261226,433.7
10,2004,293656842,1360088,463.2,16148,5.5,NaN,NaN,95089,32.4,...,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
11,2005,296507061,1390745,469,16740,5.6,NaN,NaN,94347,31.8,...,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
12,2006,299398484,1435123,479.3,17309,5.8,,NaN,94472,31.6,...,874096,292,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
13,2007,301621157,1422970,471.8,17128,5.7,NaN,NaN,92160,30.6,...,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
14,2008,304059724,1394461,458.6,16465,5.4,NaN,NaN,90750,29.8,...,843683,277.5,9774152,3214.6,2228887,733,6586206,2166.1,959059,315.4
15,2009,307006550,1325896,431.9,15399,5,NaN,NaN,89241,29.1,...,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
16,2010,309330219,1251248,404.5,14722,4.8,NaN,NaN,85593,27.7,...,781844,252.8,9112625,2945.9,2168459,701,6204601,2005.8,739565,239.1
17,2011,311587816,1206005,387.1,14661,4.7,NaN,NaN,84175,27,...,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230
18,2012,313873685,1217057,387.8,14856,4.7,NaN,NaN,85141,27.1,...,762009,242.8,9001992,2868,2109932,672.2,6168874,1965.4,723186,230.4
19,2013,316497531,1168298,369.1,14319,4.5,113695,35.9,82109,25.9,...,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
20,2014,318907401,1153022,361.6,14164,4.4,118027,37,84864,26.6,...,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
21,2015,320896618,1199310,373.7,15883,4.9,126134,39.3,91261,28.4,...,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
22,2016,323127513,1248185,386.3,17250,5.3,130603,40.4,95730,29.6,...,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745,765484,236.9

In [13]:
df.dtypes

Year                            object
Population                      object
Violent Crime                   object
Violent Crime Rate              object
Murder and nonnegligent         object
Murder and nonnegligent Rate    object
Rape                            object
Rape Rate                       object
Rape Legacy                     object
Rape Legacy Rate                object
Robbery                         object
Robbery Rate                    object
Aggravated assault              object
Aggravated assault Rate         object
Property crime                  object
Property crime Rate             object
Burglary                        object
Burglary Rate                   object
Larceny-theft                   object
Larceny-theft Rate              object
Motor vehicle theft             object
Motor vehicle theft Rate        object
dtype: object

In [14]:
df['Year'] = df['Year'].astype(str).astype('int')

In [15]:
df.to_excel('df_crime.xlsx', sheet_name='Crime Data')